/*Texto centrado sobre la imagen*/

.texto-centro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
  z-index: 10; 
  text-align: center;
   width: 100%;
  max-width: 90%;
  padding: 0 10px;
}
/*Tamaño del texto sobre el carrusel adaptado a pantallas*/

/*Tamaño en celulares*/

.titulo-carrusel{
    font-size: 24px;
    font-weight: 800;
}

.subtitulo-carrusel{
    font-size: 16px;
    font-weight: 400;
}

/*Tamaño en PC*/

@media (min-width: 992px) {
    .titulo-carrusel {
        font-size: 60px;  
    }

    .subtitulo-carrusel {
        font-size: 40px;  
    }
}

/*Tamaño de texto en demas elementos*/

/*Tamaño en celulares*/

.titulo{
    font-size: 24px;
    font-weight: 800;
}

.subtitulo{
    font-size: 16px;
    font-weight: 400;
}

/*Tamaño en PC*/

@media (min-width: 992px) {
    .titulo {
        font-size: 40px;  
    }

    .subtitulo {
        font-size: 18px;  
    }
}

